* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  font-size: 1vw;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: clamp(
    var(--font-size-min),
    var(--font-size),
    var(--font-size-max)
  );
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
